{%load static%}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!--
    <link href=" % static "css/base.css" %}" rel="stylesheet">
    -->
</head>
<body>
<div id="header">
    <span class="header">
        {% if request.user.is_authenticated %}
            Hello, {{ request.user.first_name }}!
            <a href="{% url 'settings' %}">Profile settings</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'create_classroom' %}">Create Classroom</a>
        {% else %}
            <a href="{% url 'login' %}">Log-in</a>
        {% endif %}
    </span>
    <br>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>